{
    "presets": [
        "es2015",
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-object-assign",
        "transform-decorators-legacy",
        "array-includes"
    ]
}