html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@font-face {
  font-family: 'anticon';
  src: url('../lib/style/font/antd.eot?v=4.5.0'); /* IE9*/
  src: url('../lib/style/font/antd.woff?v=4.5.0') format('woff'), /* chrome、firefox */ url('../lib/style/font/antd.ttf?v=4.5.0') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../lib/style/font/antd.svg?v=4.5.0#iconfont') format('svg'); /* iOS 4.1- */
}