& {
  position: absolute;
  top: 20px;
}

.m-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1051;
  table {
    pointer-events: none;
    tbody {
      pointer-events: none;
      tr {
        pointer-events: none;
        td {
          pointer-events: none;
        }
      }
    }
  }
}

.m-layer > table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.m-layer > table > tbody > tr > td {
  vertical-align: middle;
}

.m-layer .lywrap {
  position: relative;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.m-layer .lytt {
  position: relative;
  padding: 10px;
  height: 20px;
  margin: 0 0 -1px;
  line-height: 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  background: #fafafa;
}

.m-layer .lytt h2 {
  float: left;
  font-size: 16px;
}

.m-layer .lyclose {
  float: right;
  font-weight: bold;
  font-family: arial;
  font-size: 24px;
  color: #ccc;
  text-shadow: 0 1px #fff;
  cursor: pointer;
}

.m-layer .lyclose:hover {
  color: #aaa;
}

.m-layer .lyct:last-child, .m-layer .lybt {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.m-layer .lyct:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.m-layer .lyct {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  &.info {
    background: #23b7e5;
  }
  &.success {
    background: #27c24c;
  }
  &.warning {
    background: #fad733;
  }
  &.error {
    background: #f05050;
  }
  &.loading {
    background: #23b7e5;
  }
}

.m-layer .lybt {
  height: 30px;
  line-height: 30px;
  padding: 10px;
  margin: -1px 0 0;
  border-top: 1px solid #ddd;
  background: #f7f7f7;
}

.m-layer .lyother {
  float: left;
  color: #999;
}

.m-layer .lybtns {
  float: right;
}

.m-layer .lybtns button {
  float: left;
  margin-left: 10px;
}

/* 显示 */
.m-layer.z-show {
  display: block;
}