> .container {
  border: 1px solid #eee;
  background: white;
  .example-container {
    padding: 20px;
  }
  .description {
    code {
      background: #f6f6f6;
      padding: 1px 6px;
      border-radius: 3px;
      color: #888;
      font-size: 90%;
      border: 1px solid #e9e9e9;
      margin: 0 3px;
    }
  }
  .code {
    border-top: 1px solid #eee;
    .hljs {
      background: white;
    }
  }
}

// reset antd
.ant-collapse {
  border-radius: 0;
}

.ant-collapse {
  border: none;
  background-color: white;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
}