._global {
  .src-components-pc-layout {
    .example-container {
      .row div, .row-flex div {
        padding: 5px 0;
        background: rgba(24, 115, 216, 0.7);
        text-align: center;
        min-height: 28px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
      }
      .row {
        background: whitesmoke;
      }
    }
  }
}

