& {
  padding-top: 10px;
  .item {
    padding: 5px 0 5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
    cursor: pointer;
    &.active {
      padding-left: 0;
      color: #563d7c;
      border-left: 2px solid #563d7c;
      font-weight: bold;
    }
    &:hover:not(.active) {
      padding-left: 1px;
      color: #563d7c;
      border-left: 1px solid #563d7c;
    }
  }
}
