@font-face {
  font-family: 'anticon';
  src: url('./style/font/antd.eot?v=4.5.0'); /* IE9*/
  src:url('./style/font/antd.woff?v=4.5.0') format('woff'), /* chrome、firefox */
  url('./style/font/antd.ttf?v=4.5.0') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./style/font/antd.svg?v=4.5.0#iconfont') format('svg'); /* iOS 4.1- */
}
