& {
    color: #58666e;
}

.bar-header {
    display: flex;
    height: 100px;
}

.right-tab-content {
    display: flex;
    flex-direction: column;
    width: 121px;
    div, a {
        flex-grow: 1;
        height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: inherit;
        text-decoration: none;
        background: #FBFBFB;
        border-left: 1px solid #eee;
        &:hover {
            color: #563d7c;
        }
        &.active {
            background: #efefef;
            color: #563d7c;
        }
    }
}