.pagination {
  display: flex;
  div {
    user-select: none;
    color: #23527c;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #dee5e7;
    &:hover {
      background: whitesmoke;
    }
    &.disabled {
      color: #818a91;
      cursor: not-allowed;
      background-color: #fff;
    }
  }
  div + div {
    border-left: none;
  }
  .loading {
    width: 14px;
    height: 14px;
  }
  .before {
    .loading {
      margin-right: 5px;
    }
  }
  .after {
    .loading {
      margin-left: 5px;
    }
  }
  .active {
    background-color: #337ab7;
    color: white;
    cursor: default;
    &:hover {
      background-color: #337ab7;
      color: white;
    }
  }
}