// 代码高亮
.hljs-type {
  color: #c82829 !important;
}

.bar-header {
  background-color: #f6f8f8;
  border-bottom: 1px solid #dee5e7;
  padding: 20px;
  .title {
    h1 {
      font-size: 20px;
    }
    color: #58666e;
  }
}