// 代码高亮
.hljs-type {
    color: #c82829 !important;
}

.bar-header {
    text-align: center;
    .hljs {
        background-color: white;
    }
    .title {
        h1 {
            font-size: 20px;
        }
        color: #58666e;
    }
}

// container 容器
.container {
    width: 90%;
    margin: 0 auto;
}