// 暗系 --------------------------

// 背景色
$bg-color-dark: #3a3f51;

// 字体色
$font-color-dark: #eaebed;

// 亮色 --------------------------

// 背景色
$bg-color-light: #edf1f2;

// 其他 --------------------------

$font-color-muted: #8b8e99;