// 滚动条
&::-webkit-scrollbar {
  width: 5px;
  background-color: #f6f6f6;
}
&::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.src-layout .g-mn {
  // 头部的切换tabs
  .lib-pc-tabs-src-tabs .title-container {
    margin: 5px 20px;
  }
  .lib-pc-tabs-src-tabs .title-container .title-item {
    padding: 10px 20px;
  }

  // 组件描述title
  .lib-pc-layout-global-src-header {
    z-index: 1;
  }

  // 中部主题内容右侧的分隔条
  .lib-pc-layout-global-src-section {
    border-right: 1px solid #eee;
  }
}

// 最头部要比组件title z-index 大
.src-layout .tb-navbar .navbar-header .navbar-left, .src-layout .tb-navbar .navbar-header .navbar-right {
  z-index: 2;
}